.rylic__content__comment__main__comments__comment
  .rylic__content__comment__main__comments__comment__right
    = image_tag "iri.jpg", height: '48px', width: '48px', class: 'rylic__content__comment__main__comments__comment__right__icon'
    .rylic__content__comment__main__comments__comment__right__name yui
  .rylic__content__comment__main__comments__comment__left　1 hours ago

.rylic__content__comment__main__comments__bottom
  .rylic__content__comment__main__comments__bottom__zone 
    この歌詞は、◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯