.list__header
  .input-field.col.2
    %input#search.validate{placeholder: "Search lyrics & more", type: "text"}
  %a LYRIC
  .links
    = link_to "log out", destroy_user_session_path, method: :delete, class: 'btn'

    =link_to "sign up",new_user_registration_path, method: :get, class: 'btn'
    =link_to "sign in",new_user_session_path,method: :get, class: 'btn' 
.list__navi-menu
  .list__navi-menu__item
    =link_to do
      %a FEATURED 
    =link_to do
      %a CHARTS
    =link_to do
      %a VIDEOS
