-# %link{href: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css", rel: "stylesheet"}
-# %script{src: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"}
-# %link{href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet"}/
-# -# %script{src: "https://sdk.scdn.co/spotify-player.js"}
.top_page
  .container
    %h1 Search for an Artist
    -# %form#search-form
    -#   %input#query.form-control{placeholder: "Type an Artist Name", type: "text", value: ""}
    -#   %input#search.btn.btn-primary{type: "submit", value: "Search"}
    -# #results
    -#   %h2

    -# = form_with model: '', url: songs_path, id: 'search-form', method: :get, local: true do |f|
    = form_with(url: search_songs_path, method: :get, local: :true) do |f|
      = f.search_field :name_cont
      %input#search.btn.btn-primary{type: "submit", value: "Search"}
