.rylic
  = render 'songs/header'

  .rylic__top
    = image_tag "shade.jpg", height: '300px', width: '1440px', class: 'rylic__top__pic'
    
    .rylic__top__info
      = image_tag "shade.jpg", height: '220px', width: '220px', class: 'rylic__top__info__pic'
      .rylic__top__info__content
        .rylic__top__info__content__title shade
        .rylic__top__info__content__name iri
        .rylic__top__info__content__produce 
          .span.rylic__top__info__content__produce__by Produced by 
          .span.rylic__top__info__content__produce__name iri
        .rylic__top__info__content__album
          .span.rylic__top__info__content__album__topic Album
          .span.rylic__top__info__content__album__name shade


  .ryric__content




  .ryric__comment


