.top_page{
  width: 100vh;
  height: 100vh;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

.top_page::before {
  background-image: url('toppage.jpg');
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.6;
}
.container{
  width: 70%;
  padding-top: 300px;
  h1{
    font-size: 6rem;
    font-weight: bold;
  }
}

.user_avatar

.gray-label{
  color: #9a9a9a;
  font-size: .75rem;
}